.elementor-1084 .elementor-element.elementor-element-bd16333{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-1084 .elementor-element.elementor-element-198899f > .elementor-widget-container{margin:-10px -10px -10px -10px;}.elementor-1084 .elementor-element.elementor-element-198899f{width:100%;max-width:100%;}.elementor-1084 .elementor-element.elementor-element-e56d56f{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-1084 .elementor-element.elementor-element-61c32eb > .elementor-widget-container{margin:-20px -150px 0px -150px;}.elementor-1084 .elementor-element.elementor-element-61c32eb{width:100%;max-width:100%;}.elementor-1084 .elementor-element.elementor-element-88f203a{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-1084 .elementor-element.elementor-element-a6f289b{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-1084 .elementor-element.elementor-element-f8e5bec{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-1084 .elementor-element.elementor-element-1ee1049{--divider-border-style:solid;--divider-color:#136826;--divider-border-width:2px;--divider-icon-size:25px;--divider-element-spacing:10px;}.elementor-1084 .elementor-element.elementor-element-1ee1049 .elementor-divider-separator{width:94%;margin:0 auto;margin-center:0;}.elementor-1084 .elementor-element.elementor-element-1ee1049 .elementor-divider{text-align:center;padding-block-start:30px;padding-block-end:30px;}.elementor-1084 .elementor-element.elementor-element-1ee1049.elementor-view-stacked .elementor-icon{background-color:#47AA23;}.elementor-1084 .elementor-element.elementor-element-1ee1049.elementor-view-framed .elementor-icon, .elementor-1084 .elementor-element.elementor-element-1ee1049.elementor-view-default .elementor-icon{color:#47AA23;border-color:#47AA23;}.elementor-1084 .elementor-element.elementor-element-1ee1049.elementor-view-framed .elementor-icon, .elementor-1084 .elementor-element.elementor-element-1ee1049.elementor-view-default .elementor-icon svg{fill:#47AA23;}.elementor-1084 .elementor-element.elementor-element-1ee1049 .elementor-icon i, .elementor-1084 .elementor-element.elementor-element-1ee1049 .elementor-icon svg{transform:rotate(0deg);}.elementor-1084 .elementor-element.elementor-element-17abe87{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-1084 .elementor-element.elementor-element-83b17eb > .elementor-widget-container{margin:-30px 0px 0px 0px;}.elementor-1084 .elementor-element.elementor-element-6f03aec{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-1084 .elementor-element.elementor-element-d1740b9{width:100%;max-width:100%;}.elementor-1084 .elementor-element.elementor-element-6bebb13{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-1084 .elementor-element.elementor-element-13a1720 > .elementor-widget-container{margin:0px -20px 0px -20px;}/* Start custom CSS for html, class: .elementor-element-d1740b9 */body {
        font-family: Arial, sans-serif;
    }

    #water-search-form {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 1em;
    max-width: 600px; 
    margin-left: 240px;
    gap: 20px; 
}

    #water-search-form label {
        font-size: 1em;
        white-space: nowrap;
    }

    #water-search-form input[type="text"] {
        border: 3px solid #ccc;
        padding: 0.5em;
        border-radius: 0.5em; 
        flex-grow: 1; 
        flex: 0 0 200px;

    }

    #water-search-form button {
        background-color: rgba(23, 82, 22, 0.8);
        color: white;
        border: none;
        padding: 0.7em 1.5em;
        text-transform: uppercase;
        border-radius: 0.5em; 
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
        white-space: nowrap; 
    }

    /*#water-search-form button:hover {*/
    /*    background-color: #0056b3;*/
    /*}*/

    #water-search-form input[type="text"]:focus,
    #water-search-form button:focus {
        outline: none;
        border-color: #007BFF;
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }


#image-gallery-water {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 10px;
}
.image-container img {
    width: 100%;
    height: 100%;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  display: inline-block;
}

.flip-card-inner {
  position: relative;
  /*display: inline-block;*/
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /*box-sizing: border-box;*/
  overflow: hidden;
  border-radius:15px;
}

.flip-card-front {
  background-color: #f9f9f9;
  border: 2px solid #f2f2f2;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.flip-card-back {
  background: linear-gradient(135deg, #004d00, #8B4513);
  transform: rotateY(180deg);
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}

.plant-info h3 {
  font-size: 18px;
  font-weight: bold;
}


.plant-info p {
  font-size: 16px;
}

.plant-info ul {
  list-style-type: none;
  padding: 0;
}


.plant-info li {
  margin-bottom: 10px;
  text-align: center;
}

.flip-card-back p {
    margin: 0;
    padding: 0px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: bold;
}/* End custom CSS */