.elementor-2 .elementor-element.elementor-element-5632a68{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-2 .elementor-element.elementor-element-05a6909{width:100%;max-width:100%;}.elementor-2 .elementor-element.elementor-element-14462c9{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-2 .elementor-element.elementor-element-5b7a0c3 > .elementor-widget-container{margin:-20px -150px 0px -150px;}.elementor-2 .elementor-element.elementor-element-5b7a0c3{width:100%;max-width:100%;}.elementor-2 .elementor-element.elementor-element-d6c2302{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-2 .elementor-element.elementor-element-6d2ffe4{--display:flex;--min-height:0px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-2 .elementor-element.elementor-element-cda9352 > .elementor-widget-container{margin:70px 0px 0px 0px;}.elementor-2 .elementor-element.elementor-element-3b9966d{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-2 .elementor-element.elementor-element-72cff06{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-2 .elementor-element.elementor-element-533b7e0{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-2 .elementor-element.elementor-element-377a92c > .elementor-widget-container{margin:0px -20px 0px -20px;}/* Start custom CSS for html, class: .elementor-element-cda9352 */.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 40px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group.full-width {
    flex-direction: column;
}

.input-group label {
    flex-basis: 20%;
    text-align: left;
    margin-right: 20px;
}

.input-group input,
.input-group textarea {
    flex-grow: 1;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 650px;
}

.modal-content h2 {
    border-radius: 4px;
    background-color: rgba(23, 82, 22, 0.8);
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 35px;
    font-size: 2em;
}

.input-group input {
    margin-right: 160px;
    width:300px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    font-family: Georgia, sans-serif;
}

.input-group.full-width textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Georgia, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    background-color: #f9f9f9;
}

.modal-content button {
    padding: 10px;
    background-color: rgba(23, 82, 22, 0.8);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    width: calc(100% - 500px);
    margin-left: 250px;
}

.close {
    color: #aaa;
    float: right;
    margin-top: -10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-container input[type="number"] {
    width: 80px;
    height: 25px;
    border: 1px solid #63583e;
    margin-right: 10px;
    /*background-color: #b09f79;*/
    /*background-color: #91805a;*/
    background-color: #9c8b65;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
}

.spinner-label {
    margin-right: 5px;
    font-size: 0.9em;
}

.spinner-container .increase-button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.spinner-container .button-image {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
}

.spinner-container .increase-button:hover .button-image {
    transform: scale(1.2);
}

.spinner-container .increase-button:active .button-image {
    transform: scale(0.9);
}

.tooltip {
    position: relative;
    display: inline-block;
    z-index: 1000;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: auto;
    background-color: #332d1e;
    color: white;
    text-align: center;
    width: 220px; 
    border-radius: 6px;
    padding: 5px 10px;
    
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: -115%;
    transform: translateX(-50%);
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #63583e transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

#find-plants-general, #find-plants, #find-plants-attr {
    text-transform: uppercase;
    font-family: 'Georgia', sans-serif;
    font-size: 30px;
    color: rgba(23, 82, 22, 0.8);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

#find-explanation{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

#location-search {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(45%);
}

#location-search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#location-search-form label {
  font-weight: bold;
  margin-right: 20px;
  font-size: 14px;
}

#location-search-form select {
  padding: 9px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 40px;
  font-family: Georgia, sans-serif;
}

/*#location-search-form button:hover {*/
/*  background-color: #45a049;*/
/*}*/

#location-search-form button {
    background-color: rgba(23, 82, 22, 0.8);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Georgia', sans-serif;
    font-size: 14px;
}

#location-search-form button[type="button"] {
    background-color: #a65b26;
    margin-left:5px;
}

/*#location-search-form button[type="button"]:hover {*/
/*    background-color: #8B4513;*/
/*}*/

#image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 400;
    height: 400;
    margin: 10px;
}
.image-container img {
    width: 100%;
    height: 100%;
}

.flip-card {
  background-color: transparent;
  width: 430px;
  height: 430px;
  perspective: 1000px;
  display: inline-block;
}

.flip-card-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  border-radius:10px;
}

.flip-card-front {
  background-color: #f9f9f9;
  border: 2px solid #f2f2f2;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.flip-card-back {
  background: linear-gradient(135deg, #004d00, #8B4513);
  color: #ffffff;
  /*position: absolute;*/
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.share-button {
    position: absolute;
    display: inline-flex;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.share-button:hover {
    color: black;
}

.plant-image img {
  width: 100px;
  height: 100px;
  margin: 5px auto 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.plant-details {
  text-align: center;
}

.plant-name {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.botanical-name {
  font-size: 12px;
  color: #ffffff;
}

.threatened-status {
  font-size: 12px;
  color: #ffffff;
  margin-top: -10px;
}
.detail-row {
  align-items: center;
  margin-top: -2px;
}

.detail-row i {
  font-size: 20px;
  margin-right: 10px;
  color: #4CAF50; 
}

#sectionAnimatedArrow a {
  display: flex;
  justify-content: center;
}

#sectionAnimatedArrow {
  margin-top: auto;
  align-self: center;
  padding-top: 20px;
}

#gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}

#sectionAnimatedArrow a span {
  width: 24px;
  height: 24px;
  border-left: 2px solid rgba(23, 82, 22, 0.8);
  border-bottom: 2px solid rgba(23, 82, 22, 0.8);
  transform: rotate(-45deg);
  animation: sdbAnimatedArrow 1.5s infinite;
}

@keyframes sdbAnimatedArrow {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-06f5d9d */#lifestyle-search {
    padding: 20px;
    margin-top: 20px;
    text-align: left;
    margin-left: 300px;
    overflow: hidden;
}

#lifestyle-search label {
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    white-space: nowrap;
}

#lifestyle-search input[type="radio"],
#lifestyle-search input[type="checkbox"] {
    display: none;
}

#lifestyle-search input[type="radio"] + label::before,
#lifestyle-search input[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

#lifestyle-search input[type="checkbox"] + label::before {
    border-radius: 3px;
}

#lifestyle-search input[type="radio"]:checked + label::before,
#lifestyle-search input[type="checkbox"]:checked + label::before {
    background-color: rgba(23, 82, 22, 0.8);
    border-color: rgba(23, 82, 22, 0.8);
}

#lifestyle-search button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Georgia', sans-serif;
    font-size: 14px;
}

/*#lifestyle-search button:hover {*/
/*    background-color: #45a049;*/
/*}*/

#lifestyle-search-form button[type="button"] {
    background-color: #a65b26;
}

/*#lifestyle-search-form button[type="button"]:hover {*/
/*    background-color: #8B4513;*/
/*}*/

#image-gallery-lifestyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#show-more-filters {
  animation: bounce 2s infinite;
  /*padding: 10px 20px;*/
  /*font-size: 16px;*/
  /*color: #fff;*/
  /*background-color: #4CAF50;*/
  /*border: none;*/
  /*border-radius: 5px;*/
  /*cursor: pointer;*/
  /*outline: none;*/
  /*border: 2px solid transparent;*/
  /*transition: background-color 0.3s, border-color 0.3s;*/
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

#pagination button {
  cursor: pointer;
  padding: 5px 5px;
  margin: 0 3px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 16px;
  color: #333;
  font-family: 'Georgia', sans-serif;
}

#pagination button:hover {
  background-color: rgba(23, 82, 22, 0.8);
  color: #fff;
}

#pagination button.active {
  background-color: rgba(23, 82, 22, 0.8);
  color: #fff;
  border-color: rgba(23, 82, 22, 0.8);
  transform: scale(1.1);
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-057dcd2 */#plant-search {
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
    display: none;
}

#plant-search label {
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    white-space: nowrap;
}

#plant-search button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Georgia', sans-serif;
    font-size: 14px;
    margin-top: 20px;
}

/*#plant-search button:hover {*/
/*    background-color: #45a049;*/
/*}*/

#plant-search-form {
    max-width: 400px; 
    margin: 0 auto;
}

#plant-search-form select {
    width: 100%;
    padding: 9px 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Georgia', sans-serif;
    
}

#plant-search-form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#plant-search-form button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Georgia', sans-serif;
    font-size: 14px;
}

/*#plant-search-form button[type="submit"]:hover {*/
/*    background-color: #45a049;*/
/*}*/

#plant-search-form button[type="button"] {
    background-color: #a65b26;
}

#plant-search-form button[type="button"]:hover {
    background-color: #8B4513;
}

#image-gallery-plant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#pagination-plant {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

#pagination-plant button {
  cursor: pointer;
  padding: 5px 5px;
  margin: 0 3px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 16px;
  color: #333;
}

#pagination-plant button:hover {
  background-color: rgba(23, 82, 22, 0.8);
  color: #fff;
}

#pagination-plant button.active {
  background-color: rgba(23, 82, 22, 0.8);
  color: #fff;
  border-color: rgba(23, 82, 22, 0.8);
  transform: scale(1.1);
}/* End custom CSS */