.elementor-1613 .elementor-element.elementor-element-5632a68{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-1613 .elementor-element.elementor-element-05a6909{width:100%;max-width:100%;}.elementor-1613 .elementor-element.elementor-element-14462c9{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-1613 .elementor-element.elementor-element-5b7a0c3 > .elementor-widget-container{margin:-20px -150px 0px -150px;}.elementor-1613 .elementor-element.elementor-element-5b7a0c3{width:100%;max-width:100%;}.elementor-1613 .elementor-element.elementor-element-6d2ffe4{--display:flex;--min-height:0px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-1613 .elementor-element.elementor-element-3b9966d{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-1613 .elementor-element.elementor-element-db0e2d7{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-1613 .elementor-element.elementor-element-726999f{--divider-border-style:solid;--divider-color:#136826;--divider-border-width:2px;--divider-icon-size:25px;--divider-element-spacing:10px;}.elementor-1613 .elementor-element.elementor-element-726999f .elementor-divider-separator{width:100%;}.elementor-1613 .elementor-element.elementor-element-726999f .elementor-divider{padding-block-start:30px;padding-block-end:30px;}.elementor-1613 .elementor-element.elementor-element-726999f.elementor-view-stacked .elementor-icon{background-color:#47AA23;}.elementor-1613 .elementor-element.elementor-element-726999f.elementor-view-framed .elementor-icon, .elementor-1613 .elementor-element.elementor-element-726999f.elementor-view-default .elementor-icon{color:#47AA23;border-color:#47AA23;}.elementor-1613 .elementor-element.elementor-element-726999f.elementor-view-framed .elementor-icon, .elementor-1613 .elementor-element.elementor-element-726999f.elementor-view-default .elementor-icon svg{fill:#47AA23;}.elementor-1613 .elementor-element.elementor-element-726999f .elementor-icon i, .elementor-1613 .elementor-element.elementor-element-726999f .elementor-icon svg{transform:rotate(0deg);}.elementor-1613 .elementor-element.elementor-element-72cff06{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-1613 .elementor-element.elementor-element-533b7e0{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-1613 .elementor-element.elementor-element-377a92c > .elementor-widget-container{margin:0px -20px 0px -20px;}/* Start custom CSS for html, class: .elementor-element-cda9352 */#find-plants-general, #find-plants, #find-plants-attr {
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: #4CAF50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
}

#location-search {
  margin-top: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  overflow: hidden;
  text-align: center;
}

#location-search-form {
  display: block;
  align-items: center;
}

#location-search-form label {
  font-weight: bold;
  margin-right: 20px;
  font-size: 14px;
}

#location-search-form select {
  padding: 9px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 40px;
}

#location-search-form button:hover {
  background-color: #45a049;
}

#location-search-form button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

#location-search-form button[type="button"] {
    background-color: #a65b26;
}

#location-search-form button[type="button"]:hover {
    background-color: #8B4513;
}

#image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 10px;
}
.image-container img {
    width: 100%;
    height: 100%;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  display: inline-block;
}

.flip-card-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  border-radius:10px;
}

.flip-card-front {
  background-color: #f9f9f9;
  border: 2px solid #f2f2f2;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.flip-card-back {
  background: linear-gradient(135deg, #004d00, #8B4513);
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  /*display: block;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plant-image img {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.plant-details {
  text-align: center;
}

.plant-name {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.common-name {
  font-size: 14px;
  color: #ffffff;
}

.detail-row {
  align-items: center;
}

.detail-row i {
  font-size: 20px;
  margin-right: 10px;
  color: #4CAF50; 
}

#sectionAnimatedArrow a {
  padding-top: 70px;
  display: inline-block;
}

#sectionAnimatedArrow a span {
  position: absolute;
  top: 180px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #4CAF50;
  border-bottom: 2px solid #4CAF50;
  transform: rotate(-45deg);
  animation: sdbAnimatedArrow 2s infinite;
  box-sizing: border-box;
}

@keyframes sdbAnimatedArrow {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-06f5d9d */#lifestyle-search {
    /*display: none;*/
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
}

#lifestyle-search label {
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    white-space: nowrap;
}

#lifestyle-search input[type="radio"],
#lifestyle-search input[type="checkbox"] {
    display: none;
}

#lifestyle-search input[type="radio"] + label::before,
#lifestyle-search input[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

#lifestyle-search input[type="checkbox"] + label::before {
    border-radius: 3px;
}

#lifestyle-search input[type="radio"]:checked + label::before,
#lifestyle-search input[type="checkbox"]:checked + label::before {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

#lifestyle-search button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

#lifestyle-search button:hover {
    background-color: #45a049;
}

#lifestyle-search-form button[type="button"] {
    background-color: #a65b26;
}

#lifestyle-search-form button[type="button"]:hover {
    background-color: #8B4513;
}

#image-gallery-lifestyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-057dcd2 */#plant-search {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
    display: none;
}

#plant-search label {
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    white-space: nowrap;
}

#plant-search button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

#plant-search button:hover {
    background-color: #45a049;
}

#plant-search-form {
    max-width: 400px; 
    margin: 0 auto;
}

#plant-search-form select {
    width: 100%;
    padding: 9px 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

#plant-search-form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#plant-search-form button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

#plant-search-form button[type="submit"]:hover {
    background-color: #45a049;
}

#plant-search-form button[type="button"] {
    background-color: #a65b26;
}

#plant-search-form button[type="button"]:hover {
    background-color: #8B4513;
}

#image-gallery-plant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}/* End custom CSS */